* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: gray;
}

.cards {
  /* border: 2px solid green; */
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  padding: 20px;
  justify-content: center;
  position: relative;
  /* background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px); */
}

.card {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid red; */
  padding: 10px;
  width: 180px;
  height: 250px;

  border: 1px solid gray;
}
.card img {
  width: 90%;
  height: 250px;
}
.card-btn {
  padding: 5px;
  background-color: rgb(253, 127, 9);
  color: white;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  width: 90%;
  border: 1px solid gray;
}
.card-btn:hover {
  background-color: white;
  color: black;
}

.searchDiv {
  height: 7vh;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-left: 100px;
}
#searchText {
  width: 300px;
  max-width: 90%;
  height: 30px;
  border: 1px solid gray;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px, 10px;
  color: grey;
  background-color: white;
}
#message {
  margin: 20px;
  text-align: center;
}
#lightModeBtn {
  padding: 5px;
  /* background-color: black; */
  background-color: rgb(0, 153, 255);
  color: white;
  cursor: pointer;
  border-radius: 50px;
  border: none;
}

.userModal {
position: fixed
  background-color: white;
  /* border: 2px solid red; */
  border: 1px solid grey;
top:0;

  width: 350px;
  height:450px ;
z-index: 2;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 1;
}
.hidden{
display: none;
}
.modalCloseBtn {
  padding: 5px;

  background-color: rgb(253, 127, 9);
  color: white;
  cursor: pointer;
  position: absolute;
  right: 0%;
  top: 0%;
  border: none;
  font-weight: bold;
  width: 2em;
  height: 2em;
  border: 1px solid grey;
}

.userDetails {
  display: flex;
  margin: 10px 10px;

  height: 90%;
}

.userImg {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.userImg img {
  width: 90%;
  height: 90%;
}
.userPersonalInfo {
  line-height: 50px;
  margin: 10px;
}
